.button-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  height: 3.8rem;
  padding: 0.5rem 1rem 0rem 1rem;
}

.version-dropdown {
  position: relative;
  top: 0.525rem;
}

.organ-name-label {
  font-size: 0.9rem;
  padding: unset;
}
.imaging-method {
  padding-left: 0.5rem;
}

.select-deselect-all {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.938rem;
}

.add-cancel-button {
  border: 0.063rem solid rgb(196, 196, 196);
  border-radius: 0.5rem !important;
}

.orgon-selection-box {
  margin-bottom: 0;
}

.orgon-selection-button {
  width: 100%;
}

::ng-deep .orgon-selection-box .mat-form-field-underline {
  display: none;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0rem 0.625rem;
  line-break: auto;
  width: fit-content;
  white-space: normal;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table-container {
  margin-top: 0.625rem;
  max-height: 18.75rem;
  overflow: auto;
}

.selector-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem 0 1rem;
}

.title {
  margin-bottom: 0rem !important;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.cache-slider {
  font-weight: 500;
}

mat-tab-group {
  padding: 0rem 1rem 0rem 1rem;

  ::ng-deep mat-tab-header {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
}

.version-dropdown ::ng-deep .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
  padding-top: unset;
  padding-bottom: unset;
  // padding: 0.432rem 0;
  min-height: 2.375rem;
}

th {
  font-size: 0.8rem;
  color: #7588a1;
  font-weight: 400;
}

::ng-deep
  .mat-mdc-select-trigger
  .mat-mdc-select-value
  .mat-mdc-select-value-text {
  padding: unset;
}
