<div class="control">
  <div class="wrapper">
    <div class="header">
        <span style="margin: 0;" class="title">Vis Control</span>
        <button mat-icon-button (click)="close()" #tooltip="matTooltip" matTooltip="Close">
            <mat-icon style="color: white;">close</mat-icon>
        </button>
    </div>
    <div class="content">
      <div>
        <label>Height</label>
        <div class="row">
          <div class="col-10">
            <div>
              <mat-slider thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              min="1"
              [(ngModel)]="heightValue"
              (change)="getSliderValue()"
              max="30000"></mat-slider>
            </div>
          </div>
          <div class="col-2 p-0" style="display: flex; align-items: center;">
            <label>{{heightValue}}</label>
          </div>
        </div>

      </div>
    </div>
</div>

