<div >
  <mat-expansion-panel style="box-shadow: none; width: 100%;" class="mepNoPadding">
    <mat-expansion-panel-header style="padding-top: 30px; padding-bottom: 30px;">
      <mat-panel-title>
        <span style="margin: 0;" class="title">Visualization Controls</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <div class="control">
        <label>Height</label>
        <div style="width: 100%; display: flex; flex-direction: row;;">
          <div class="w-100">
              <mat-slider thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              min="500"
              [(ngModel)]="heightValue"
              (change)="getSliderValue()"
              max="40000"></mat-slider>
           
          </div>
          <div style="display: flex; align-items: center;">
            <label>{{heightValue}}</label>
          </div>
          <div style="display: flex; align-items: center;">
            <button mat-icon-button style="color: #ececec; margin-top: -10px;" (click)="reset()">
              <mat-icon>undo</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </mat-expansion-panel>
  <!-- <div class="wrapper">
    <div class="header">
        <span style="margin: 0;" class="title">Vis Control</span>
        <button mat-icon-button (click)="close()" #tooltip="matTooltip" matTooltip="Close">
            <mat-icon style="color: white;">close</mat-icon>
        </button>
    </div>
    <div class="content">
      <div>
        <label>Height</label>
        <div class="row">
          <div class="col-9">
            <div>
              <mat-slider thumbLabel
              [displayWith]="formatLabel"
              tickInterval="1"
              min="1"
              [(ngModel)]="heightValue"
              (change)="getSliderValue()"
              max="30000"></mat-slider>
            </div>
          </div>
          <div class="col-1 pl-0" style="display: flex; align-items: center;">
            <label>{{heightValue}}</label>
          </div>
          <div class="col-2 pr-0" style="display: flex; align-items: center;">
            <button mat-icon-button style="color: #ececec; margin-top: -10px;" (click)="reset()">
              <mat-icon>undo</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div> -->
</div>

