a {
  cursor: pointer;
}

.footer {
  background: #262626;
  color: white;
  .links, .help {
    ul {
      list-style-type: none;
    }
    li a {
      text-decoration: none;
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    fa-icon {
      font-size: 2rem;
    }
    a {
      color: rgb(249, 249, 249);
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
  .location {
    i {
      font-size: 1.125rem;
    }
  }
  .copyright p {
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
  }
}

.social-media {
  a {
    padding-left: 0.2rem;
  }
}