.example-spacer {
    flex: 1 1 auto;
}

a {
    cursor: pointer;
}

.a-nav {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.5s;
    text-decoration: none !important;
}

.a-nav:hover {
    transition: all 0.5s;
    color: rgb(147, 147, 147);
}

.title-desc {
    text-align: justify;
    text-justify: inter-word;
    color: rgb(164, 164, 164);
    font-size: 12pt;
    hyphens: auto;
}

.title {
    font-size: 70px;
    line-height: 75px;
    font-weight: 400;
    color: #444a65;
    text-align: justify;
    margin: 0 auto;
}

.title2 {
    font-size: 5px;
    line-height: 55px;
    font-weight: 400;
    color: #444a65;
    text-align: justify;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .title {
        text-align: center;
    }
    .title-desc {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .title-btn {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.title1 {
    font-size: 50px;
    line-height: 80px;
    color: #444a65;
}

.title2 {
    font-size: 1.4rem;
    line-height: 30px;
    color: #4e5366;
    font-weight: 400;
    hyphens: auto;
}

.title3 {
    font-size: 30px;
    line-height: 30px;
    color: #4e5366;
    font-weight: 400;
}

.title4 {
    font-size: 20px;
    line-height: 20px;
    color: #4e5366;
    font-weight: 400;
}

.subtitle {
    font-size: 16px;
    line-height: 15px;
    color: #e3e3e3;
    font-weight: 400;
}

.pro {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border: 2px solid rgb(218, 218, 218);
}

.desc {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    hyphens: auto;
    overflow: auto;
    color: rgba(52, 52, 52, 0.591);
    max-height: 300px;
}

.logo1 {
    margin-right: 10px;
    width: 90px;
    cursor: pointer;
    color: white;
}

.logo2 {
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
    color: white;
}

/* SVG STYLES */


/* CARDS */

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 28px 25px rgba(128, 128, 128, 0.057);
    transition: all 0.5s ease;
}

.card:hover {
    transition: all 0.5s ease;
    box-shadow: 5px 28px 35px rgba(128, 128, 128, 0.226);
}