.debug-log {
  min-width: 31.25rem;
}

.logsList .mat-list-item {
  height: auto;
  width: 100%;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  align-items: flex-start;
}

.i2 {
  font-size: 12pt;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  font-weight: 300;
}

.check_circle {
  color: #66BB6A !important;
} 

.error {
  color : #FFCA28 !important;
}

.cancel {
  color: #FF5722 !important;
}
.mat-list-container{
  padding: 0;
}
.list-item-first{
  padding-left: 0;
}
.error-icon-list{
  color: grey;
}
.list-item-section{
  width: 100%;
}
.expansion-panel-container{
  box-shadow: none !important;
}
.expansion-panel-header{
  width: 99%;
}
.expansion-panel-content{
  text-align: start; 
  max-height: 18.75rem; 
  overflow: auto;
}
.error-list-container{
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}