<div>
  <mat-expansion-panel class="mepNoPadding" [expanded]="!error.hasError">
    <mat-expansion-panel-header [expandedHeight]="'3.125rem'">
      <mat-panel-title>
        <div>
          <b> Cell Types </b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="py-1">
      <!-- <label><b>Sort</b></label> -->
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="pr-3 mt-1"
          #tooltip="matTooltip"
          matTooltip="Sort Cell Types"
        >
          <mat-icon>sort_by_alpha</mat-icon>
        </div>
        <button
          [disabled]="error.hasError"
          mat-flat-button
          #tooltip="matTooltip"
          matTooltip="Select Order"
          matTooltipPosition="below"
          class="pt-2 w-100 function-button"
        >
          <mat-select
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('CT', 'sort', $event)"
            [value]="(config$ | async).CT.sort"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
          >
            <mat-option *ngFor="let option of sortOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>
    <div class="pt-3">
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="pr-3 mt-1"
          #tooltip="matTooltip"
          matTooltip="Size Cell Types"
        >
          <mat-icon>bubble_chart</mat-icon>
        </div>
        <button
          [disabled]="error.hasError"
          mat-flat-button
          #tooltip="matTooltip"
          matTooltip="Select Sizing"
          matTooltipPosition="below"
          class="pt-2 function-button"
        >
          <mat-select
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('CT', 'size', $event)"
            [value]="(config$ | async).CT.size"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
          >
            <mat-option *ngFor="let option of ctSizeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="mepNoPadding mt-4" [expanded]="!error.hasError">
    <mat-expansion-panel-header [expandedHeight]="'3.125rem'">
      <mat-panel-title>
        <div>
          <b> Biomarkers </b>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="py-1">
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="pr-3 mt-1"
          #tooltip="matTooltip"
          matTooltip="Sort Biomarkers"
        >
          <mat-icon>sort_by_alpha</mat-icon>
        </div>
        <button
          [disabled]="error.hasError"
          mat-flat-button
          #tooltip="matTooltip"
          matTooltip="Select Order"
          matTooltipPosition="below"
          class="pt-2 function-button"
        >
          <mat-select
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'sort', $event)"
            [value]="(config$ | async).BM.sort"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
          >
            <mat-option *ngFor="let option of sortOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>
    <div class="pt-3">
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="pr-3 mt-1"
          #tooltip="matTooltip"
          matTooltip="Size Biomarkers"
        >
          <mat-icon>bubble_chart</mat-icon>
        </div>
        <button
          [disabled]="error.hasError"
          mat-flat-button
          #tooltip="matTooltip"
          matTooltip="Select Sizing"
          matTooltipPosition="below"
          class="pt-2 function-button"
        >
          <mat-select
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'size', $event)"
            [value]="(config$ | async).BM.size"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
          >
            <mat-option *ngFor="let option of bmSizeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>
    <div class="pt-3">
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="pr-3 mt-1"
          #tooltip="matTooltip"
          matTooltip="Select Biomarker Type"
        >
          <fa-icon [icon]="faDna" class="px-1 biomarker-icon-type"></fa-icon>
        </div>
        <button
          [disabled]="error.hasError"
          mat-flat-button
          #tooltip="matTooltip"
          matTooltip="Select Biomarker Type"
          matTooltipPosition="below"
          class="pt-2 function-button"
        >
          <mat-select
            [disabled]="error.hasError"
            (selectionChange)="changeOptions('BM', 'type', $event)"
            [value]="(config$ | async).BM.type"
            [hideSingleSelectionIndicator]="true"
            [panelClass]="'cell-types-panel'"
          >
            <mat-option *ngFor="let option of bimodalBTypeOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>
    <div></div>
  </mat-expansion-panel>
</div>
