{
  "extends": "../../.eslintrc",
  "ignorePatterns": [
    "!**/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parserOptions": {
        "project": [
          "projects/asctb-reporter/tsconfig.app.json",
          "projects/asctb-reporter/tsconfig.spec.json",
          "projects/asctb-reporter/e2e/tsconfig.json"
        ],
        "createDefaultProgram": true
      },
      "rules": {}
    },
    {
      "files": [
        "*.html"
      ],
      "rules": {}
    }
  ]
}
