
<h2 mat-dialog-title>Select one or more ASCT+B Tables</h2>
<div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <caption class="sr-only">
    Select one or more Organs
    </caption>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef id="check-box">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selectRow(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef id="organ-name"> Organ Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef id="version"> Version </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf= "element.version.length >1">
        <mat-form-field class="version-dropdown" appearance="fill">
            <mat-select
            (selectionChange)="changeVersion($event.value,element);"
            [(ngModel)] = "element.symbol"
            >
                <mat-option *ngFor="let option of element.version" [value]="option.value" [disabled]="element.sheet === 'lung' && option.value === 'lung-v1.0'">
                {{ option.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div *ngIf= "element.version.length === 1">
                <mat-label >{{element.version[0].viewValue}} {{changeVersion(element.version[0].value,element)}}</mat-label>
        </div>
     </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        >
    </tr>
  </table>
</div>
<div footer>
  <div class="mt-2" class="button-container">
    <button
      mat-flat-button
      color="primary"
      class="add-cancel-button"
      [mat-dialog-close]="false"
      [disabled]="!hasSomeOrgans"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      class="add-cancel-button"
      [disabled]="!hasSomeOrgans"
      (click)="addSheets(organs)"
    >
      Submit
    </button>
  </div>
</div>
