@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* SNACKBAR */
.success-snackbar {
  background: #4CAF50;
}

.mat-simple-snackbar-action {
  color: white;
}

.error-snackbar {
  background: rgb(194, 87, 87);
}

.warning-snackbar {
  background: #ffa500;
}