<mat-toolbar color="secondary" style="padding-left: 30px !important; padding-right: 30px !important; display: flex; align-items: center;">
    <div><img src="../../assets/logo.svg" alt="" class="gap" (click)="openGithub()"></div>
    <span class="filler"></span>
    <div>
        <mat-form-field style="margin-right: 20px;">
            <button mat-flat-button style="width: 100%; background-color: rgb(210, 210, 210);">
                <mat-select (selectionChange)="getSelection()" [(ngModel)]="selectedOption">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </button>
        </mat-form-field>
        <button mat-flat-button style="background-color: #90CAF9; margin-right: 20px;" (click)="refreshData()">Refresh</button>
        <button mat-flat-button style="background-color: #9FA8DA;" (click)="showLogs()">Logs</button>
    </div>
</mat-toolbar>