.filler {
    flex: 1 1 auto;
}

.logo1 {
    margin-right: 10px;
    width: 90px;
    cursor: pointer;
    color: white;
}

.logo2 {
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
    color: white;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin-bottom: 20px !important;
    padding: 0;
}