<mat-toolbar color="secondary" style="padding-left: 30px !important; padding-right: 30px !important; display: flex; align-items: center; background-color: #444A65;">
    <div class="navbar-logo">
        <img src="assets/logo.svg" alt="" class="logo1" (click)="openGithub()">
        <img src="assets/ccf.svg" alt="" class="logo2" (click)="openGithub()">
    </div>
    <span class="filler"></span>
    <div>
        <mat-form-field style="margin-right: 60px; margin-bottom: 0;">
            <button mat-flat-button style="width: 120%; background-color: rgb(247, 247, 247);" #tooltip="matTooltip" matTooltip="Select Sheet" matTooltipPosition="below">
                <mat-select (selectionChange)="getSheetSelection()" [(ngModel)]="selectedSheetOption">
                    <mat-option *ngFor="let option of sheetOptions" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </button>
        </mat-form-field>
        <mat-form-field style="margin-right: 20px; margin-bottom: 0;">
            <button mat-flat-button style="width: 100%; background-color: rgb(247, 247, 247);" #tooltip="matTooltip" matTooltip="Select Visualization" matTooltipPosition="below">
                <mat-select (selectionChange)="getSelection()" [(ngModel)]="selectedOption">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </button>
        </mat-form-field>
        <button mat-icon-button style="margin-right: 20px;" (click)="refreshData()" #tooltip="matTooltip" matTooltip="Refresh Data" matTooltipPosition="below">
            <mat-icon style=" color: white; font-weight: bold; ">refresh</mat-icon>
        </button>
        <button mat-icon-button *ngIf="selectedOption === 'Tree'" style="margin-right: 20px;" (click)="downloadVisFunction()" #tooltip="matTooltip" matTooltip="Download Vis" matTooltipPosition="below">
            <mat-icon style=" color: white; font-weight: bold; ">get_app</mat-icon>
        </button>
        <button mat-icon-button style="margin-right: 20px; " (click)="showReports()" #tooltip="matTooltip" matTooltip="Report" matTooltipPosition="below">
            <mat-icon style="color: white; ">analytics</mat-icon>
        </button>
        <button mat-icon-button style="margin-right: 20px; " (click)="showLogs() " #tooltip="matTooltip" matTooltip="Logs " matTooltipPosition="below">
            <mat-icon style="color: white; ">article</mat-icon>
        </button>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="Menu" matTooltipPosition="below" [matMenuTriggerFor]="menu">
            <mat-icon style="color: white;">more_vert
            </mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let option of moreOptions" (click)="window.open(option.url, '_blank')">{{option.name}}</button>
        </mat-menu>
        </button>
    </div>
</mat-toolbar>