<div style="width: inherit;" (window:resize)="onResize($event)">
    <div style="overflow-x: auto; position: sticky; max-height: calc(100vh - 64px);" class="text-center">
        <div [ngStyle]="{'width': screenWidth + 'px' }" style="display: flex; flex-direction: row; background-color: #f7f7f7; padding: 10px;" *ngIf="shouldRenderASCTBiomodal">
            <div [ngStyle]="{'width': treeWidth + bimodalDistance + 'px' }">
                <mat-expansion-panel style="width: 50%;" hideToggle="true" #mepAS="matExpansionPanel" [(expanded)]="settingsExpanded">
                    <mat-expansion-panel-header style="margin-left: -5px;">
                        <mat-panel-title>
                            <div style="font-weight: 500; font-size: 13pt; ">{{currentSheet.title}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </div>
            <div [ngStyle]="{'width': bimodalDistance+'px' }">
                <mat-expansion-panel style="width: 50%;" #mepCT="matExpansionPanel" [(expanded)]="settingsExpanded" class="mepNoPadding black-indicator">
                    <mat-expansion-panel-header class="p-0 pr-1">
                        <mat-panel-title class="text-center">
                            <div style="font-weight: 500; font-size: 13pt;">Cell Types</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Sort</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Sort Cell Types" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.CT.sort">
                                <mat-option *ngFor="let option of bimodalSortOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Size</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Size Cell Types" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.CT.size">
                                <mat-option *ngFor="let option of bimodalCTSizeOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>
            <div [ngStyle]="{'width': bimodalDistance +'px' }">
                <mat-expansion-panel style="width: 50%" #mepBM="matExpansionPanel" [(expanded)]="settingsExpanded" class="mepNoPadding black-indicator">
                    <mat-expansion-panel-header class="p-0 pr-1">
                        <mat-panel-title>
                            <div style="font-weight: 500; font-size: 13pt;">Biomarkers</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Sort</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Sort Biomarkers" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.BM.sort">
                                <mat-option *ngFor="let option of bimodalSortOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Size</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Size Biomarkers" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.BM.size">
                                <mat-option *ngFor="let option of bimodalSizeOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>

        </div>
        <div style="display: flex; justify-content: start;">
            <div id="vis" #graph></div>
        </div>
    </div>

</div>