<div style="width: inherit;">
    <div style="overflow-x: auto; position: sticky; max-height: calc(100vh - 64px);">
        <div [ngStyle]="{'width': graphWidth + 'px' }" style="display: flex; flex-direction: row; background-color: #f7f7f7; padding: 10px;" *ngIf="shouldRenderASCTBiomodal">
            <div [ngStyle]="{'width': treeWidth + bimodalDistance * 1.4 + 'px' }">
                <mat-expansion-panel style="width: 50%;" hideToggle="true" #mepAS="matExpansionPanel" [(expanded)]="settingsExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div style="font-weight: 500; font-size: 13pt;">{{this.sheet.sheet.title}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </div>
            <div style="display: flex; justify-content: center;" [ngStyle]="{'width': bimodalDistance+'px' }">
                <mat-expansion-panel style="width: 80%;" #mepCT="matExpansionPanel" [(expanded)]="settingsExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: flex; justify-content: start;">
                            <div style="font-weight: 500; font-size: 13pt;">Cell Types</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Sort</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Sort Cell Types" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.CT.sort">
                                <mat-option *ngFor="let option of bimodalSortOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Size</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Size Cell Types" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.CT.size">
                                <mat-option *ngFor="let option of bimodalCTSizeOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>
            <div style="display: flex; justify-content: center;" [ngStyle]="{'width': bimodalDistance +'px' }">
                <mat-expansion-panel style="width: 70%;" #mepBM="matExpansionPanel" [(expanded)]="settingsExpanded">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: flex; justify-content: center;">
                            <div style="font-weight: 500; font-size: 13pt;">Bio Markers</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Sort</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Sort Markers" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.BM.sort">
                                <mat-option *ngFor="let option of bimodalSortOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <b style="padding-right: 10px;">Size</b>
                        <mat-form-field style="text-align: start;">
                            <button mat-flat-button style="width: 80%; background-color: rgb(255, 255, 255);" #tooltip="matTooltip" matTooltip="Size Markers" matTooltipPosition="below">
                            <mat-select (selectionChange)="getBimodalSelecion()" [(ngModel)]="bimodalConfig.BM.size">
                                <mat-option *ngFor="let option of bimodalSizeOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </button>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </div>

        </div>
        <div style="padding-left: 20px;">
            <div id="vis" #graph></div>
        </div>
    </div>

</div>