<app-sidenav>
  <div header>
    <div class="w-100 text-center pt-3 pb-2">
      <img src="./assets/logo.svg" alt="" class="w-100 logo-link" routerLink="/" matTooltip="Home Page"
        matTooltipPosition="below" />
    </div>
  </div>
  <div body>

    <div class="px-3 mt-2">
      <app-legend [treeData]="td$ | async" [bimodalData]="bm$ | async" [compareData]="cs$ | async"
        [error]="error"></app-legend>
    </div>

    <div class="px-3 mt-4">
      <app-functions [error]="error"></app-functions>
    </div>

    <div class="px-3 mt-4">
      <app-omap-controls [error]="error" [omaps]="omapConfig$ | async"
        (updateConfig)="updateOmapConfig($event)"></app-omap-controls>
    </div>

    <div class="px-3 mt-4">
      <app-vis-controls [selectedOrgans]="selectedOrgans$ | async" [config]="config$ | async" [error]="error"
        (updatedConfig)="updateConfigInSheet($event)" [currentSheet]="sheet$ | async"></app-vis-controls>
    </div>
  </div>

  <div footer>
    <!-- <div class="py-2">
      Something wrong? <a href="" (click)="sendMail()" class="text-info">Contact Us</a>.
    </div> -->
    <button mat-stroked-button class="w-100 report mt-2" (click)="sendMail()">
      Contact Us
    </button>
  </div>
</app-sidenav>