/* REPORT */
.report {
  border: 0.0625rem solid  rgba(245, 159, 61);
  border-radius: 0.5rem !important;
  color: black;
  transition: all 0.3s;
}

.report:hover {
  background-color: rgb(245, 159, 61);
}

a {
  color: grey;
}
.arrow-left-button{
  border-radius: 0.5rem;
}
.arrow-left-icon{
  font-weight: bold;
}