.mat-select-search-hidden {
  visibility: hidden;
}
.mat-select-search-inner {
  position: absolute;
  top: 0;
  width:100%;
  border-bottom: 1px solid #ccc;
  background: white;
  z-index: 100;
}
.mat-select-search-inner.mat-select-search-inner-multiple {
  width: 100%;
}
::ng-deep .mat-select-search-panel {
 /* allow absolute positioning relative to outer options container */
  transform: none !important;
  max-height: 350px;
  min-width: 100% !important;
  transform-origin: 0% !important;
}
.mat-select-search-input {
  padding: 16px;
  width: 100%;
  padding-right: 36px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.mat-select-search-no-entries-found {
  padding: 16px;
}
.mat-select-search-clear {
  position: absolute;
  right: 0;
  top: 4px;
}
::ng-deep .cdk-overlay-pane-select-search {
 /* correct offsetxY so that the selected option is at the position of the select box when opening */
  margin-top: -50px;
}

::ng-deep .cdk-overlay-pane {
  /* correct offsetxY so that the selected option is at the position of the select box when opening */
   transform: none !important;
 }

:ng-deep #mat-checkbox-1 label.mat-checkbox-layout {
  margin: 0 !important;
}
