
<input matInput class="mat-select-search-input mat-select-search-hidden"/>

<div class="mat-select-search-inner"
     [ngClass]="{'mat-select-search-inner-multiple': matSelect.multiple}">
  <input 
         class="mat-select-search-input"
         #searchSelectInput
         (keydown)="_handleKeydown($event)"
         (input)="onInputChange($event.target.value)"
         (blur)="onBlur($event.target.value)"
         placeholder="Type to search..."
  />
  <button mat-button *ngIf="value"
          mat-icon-button
          aria-label="Clear"
          (click)="_reset(true)"
          class="mat-select-search-clear">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; background: white !important;" class="py-2 pt-3 px-3">
   <div style="display: flex; justify-content: start; align-items: center;">
    <span style="font-weight: 600;">Filters: </span>
    <mat-checkbox style="margin-top: 8px; margin-left: 8px;" (change)="changeFilter('Anatomical Structures')" [checked]="filterList.includes('Anatomical Structures')">Anatomical Structures</mat-checkbox>
    <mat-checkbox style="margin-top: 8px; margin-left: 8px;" (change)="changeFilter('Cell Types')" [checked]="filterList.includes('Cell Types')">Cell Types</mat-checkbox>
    <mat-checkbox style="margin-top: 8px; margin-left: 8px;" (change)="changeFilter('Biomarkers')" [checked]="filterList.includes('Biomarkers')">Biomarkers</mat-checkbox>
   </div>
   <div>
     <button mat-flat-button color="primary" (click)="clearSelections()">Clear</button>
   </div>
  </div>
</div>

<div *ngIf="noEntriesFoundLabel && value && opt?.length === 0"
     class="mat-select-search-no-entries-found">
  {{noEntriesFoundLabel}}
</div>
