
<input matInput class="mat-select-search-input mat-select-search-hidden"/>

<div class="mat-select-search-inner"
     [ngClass]="{'mat-select-search-inner-multiple': matSelect.multiple}">
  <input matInput
         class="mat-select-search-input"
         #searchSelectInput
         (keydown)="_handleKeydown($event)"
         (input)="onInputChange($event.target.value)"
         (blur)="onBlur($event.target.value)"
         placeholder="Search"
  />
  <button mat-button *ngIf="value"
          mat-icon-button
          aria-label="Clear"
          (click)="_reset(true)"
          class="mat-select-search-clear">
    <mat-icon>close</mat-icon>
  </button>
</div>
<!-- <div class="p-2 w-100">
  <div style="width: 100%; display: flex; justify-content: start; align-items: center; height: 100%;">
    <span style="font-weight: 600;">Filter: </span>
    <mat-checkbox class="example-margin">Checked</mat-checkbox>
  </div>
</div> -->

<div *ngIf="noEntriesFoundLabel && value && opt?.length === 0"
     class="mat-select-search-no-entries-found">
  {{noEntriesFoundLabel}}
</div>
