{
    "root": true,
    "ignorePatterns": ["dist", "coverage"],
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "overrides": [
      {
        "files": ["*.ts"],
        "parserOptions": {
          "project": ["tsconfig.json"],
          "createDefaultProgram": true
        },
        "extends": [
          "eslint:recommended",
          "plugin:@typescript-eslint/recommended"
        ],
        "plugins": [
          "eslint-plugin-unicorn"
        ],
        "rules": {
          "@typescript-eslint/explicit-member-accessibility": [
            "off",
            {
              "accessibility": "explicit"
            }
          ],
          // Set the following two rules to "warn" or "error" to disallow 'any' types
          "@typescript-eslint/explicit-module-boundary-types": "off",
          "@typescript-eslint/no-explicit-any": "off",
          "@typescript-eslint/no-non-null-assertion": "off",
          "@typescript-eslint/no-require-imports": "error",
          "@typescript-eslint/no-empty-function": "off",
          "@typescript-eslint/no-unused-vars": ["error", {"args":"none", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_"}],
          "no-shadow": "off",
          "@typescript-eslint/no-shadow": "error",
          "dot-notation": "error",
          "indent": ["error", 2],
          "no-unused-expressions": "error",
          "no-use-before-define": "off",
          "quotes": ["error", "single"],
          "semi": "error",
          "arrow-parens": "off",
          "import/order": "off",
          "no-sequences": "error",
          "no-sparse-arrays": "error",
          "unicorn/filename-case": "error"
        }
      },
      {
        "files": ["*.html"],
        "extends": [],
        "rules": {}
      }
    ]
  }