.date {
    color: grey;
    font-size: 9pt;
}

.header {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    top: 0;
    background-color: white;
    margin-bottom: 10px;
    word-break: break-all;
}

.title {
    font-size: 20pt;
    line-height: 1.6;
}

.title1 {
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 20px;
}

.title2 {
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 15px;
}

.i1 {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

.i1:hover {
    color: #1976D2
}

.footer {
    position: absolute;
    bottom: 0;
}

.overview {
    font-size: 14pt;
}

.number {
    font-weight: 400;
}

.details {
    font-size: 14pt;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-expansion-panel-header {
    background: rgb(235, 235, 235) !important;
}

.mat-expansion-panel-header:hover {
    background: rgb(225, 225, 225) !important;
}