.header {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    z-index: 2;
    background-color: white;
    word-break: break-all;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    right: 0px;
    overflow: hidden;
    padding: 25px 25px 25px;
}

.title {
    font-size: 20pt;
    line-height: 1.6;
}

.title1 {
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 20px;
}

.tabs {
    position: absolute;
    top: 80px;
    bottom: 80px;
    overflow: auto;
    right: 0px;
    left: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.i2 {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
}

.content {
    max-height: 40%;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 80px;
    left: 0px;
    right: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

::ng-deep mat-tab-body {
    text-align: center;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #444a65 !important;
}

.example-spacer {
    flex: 1 1 auto;
}