.header {
    display: flex;
    z-index: 2;
    background-color: white;
    word-break: break-all;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55px;
    right: 0px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.content {
    margin-top: 15px;
}

.title {
    font-size: 20pt;
    line-height: 1.6;
}

.title1 {
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 20px;
}

::ng-deep .mat-list-item-content {
    padding: 0 !important;
    margin-top: -10px;
}

.tabs {
    position: absolute;
    top: 65px;
    bottom: 65px;
    overflow: auto;
    right: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    flex: 1 1 auto;
}

.i2 {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 50px;
    left: 0px;
    right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-top: 1px solid rgb(203, 203, 203);
}

::ng-deep mat-tab-body {
    text-align: center;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #444a65 !important;
}

.example-spacer {
    flex: 1 1 auto;
}