<div style="height: 100%; width: 100%; position: relative;">
    <div class="header">
        <span style="margin: 0; font-weight: 300;" class="title">Report for <span style="font-weight: 400;">{{sheet.sheet.name}}</span></span>
        <button mat-icon-button (click)="closeDrawer()">
            <mat-icon style="color: grey;">close</mat-icon>
        </button>
    </div>
    <hr style="opacity: 0.5;">

    <div class="content">
        <br>
        <div class="title1">Overview</div>

        <div class="overview">
            <div class="i1">
                <span>Unique anatomical structures: </span>
                <span class="number">{{anatomicalStructures.length}}</span>
            </div>
            <div class="i1"> <span>Unique cell types: </span>
                <span class="number">{{cellTypes.length}}</span>
            </div>
            <div class="i1"> <span>Unique biomarkers: </span>
                <span class="number">{{bioMarkers.length}}</span>
            </div>
            <br>

            <div class="i1"> <span>Anatomical structures with no Uberon link: </span>
                <span class="number">{{getASWithNoLink().length}}</span>
            </div>
            <div class="i1"> <span>Cells with no CL link: </span>
                <span class="number">{{getCTWithNoLink().length}}</span></div>
            <div class="i1"> <span>Biomarkers with no Go/UniProt link: </span>
                <span class="number">{{bioMarkers.length}}</span></div>
        </div>

        <br>
        <div class="title1">Details</div>

        <div class="details">
            <div class="title2">Alphabetically sorted listings of all ASCT+B</div>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">Unique anatomical structures (AS)</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of anatomicalStructures | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>
            <br>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">Unique cell types (CT)</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of cellTypes | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>
            <br>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">Unique biomarkers (B)</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of bioMarkers | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>
            <br>
            <br>
            <div class="title2">Missing Ontology Links</div>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">AS with no Uberon link</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of getASWithNoLink() | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>
            <br>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">CT with no CL link</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of getCTWithNoLink() | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>
            <br>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style="font-weight: 400; font-size: 13pt;">Biomarkers with no links(B)</div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="as-details">
                    <div *ngFor="let a of bioMarkers | orderBy : 'structure'" class="i1">
                        {{a.structure}}
                    </div>
                </div>
            </mat-expansion-panel>

        </div>

        <br>
        <br>

        <div class="title1">Logs</div>
        <div class="details">

            <mat-list style="padding: 0; max-height: 50vh; overflow-y: auto;">
                <mat-list-item style="padding-left: 0;" *ngFor="let l of logs">
                    <mat-icon mat-list-icon style="color: grey;" *ngIf="l.type == 'file'">next_plan</mat-icon>
                    <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type == 'file'">
                        <span class="i2">{{l.message}}</span>
                    </div>
                    <mat-icon mat-list-icon [ngStyle]="{'color': l.icon === 'check_circle' ? '#66BB6A' : l.icon === 'error' ? '#FFCA28' : '#FF5722'}" *ngIf="l.type !== 'file'">{{l.icon}}</mat-icon>
                    <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type != 'file'">
                        <span class="i2">{{l.message}}</span>
                    </div>
                </mat-list-item>
            </mat-list>

        </div>
    </div>
    <br>
    <hr style="opacity: 0.5;">
    <div>
        <button mat-flat-button color="warn">Report Problem</button>
    </div>

</div>