<div style="height: 100%; width: 100%; position: relative;">
    <div class="header">
        <span style="margin: 0; font-weight: 300;" class="title">Debug Logs for <span style="font-weight: 400;">{{sheet.sheet.name}}</span></span>
        <button mat-icon-button (click)="closeDrawer()">
            <mat-icon style="color: grey;">close</mat-icon>
        </button>
    </div>
    <hr style="opacity: 0.5;">

    <div class="content">
        <div class="details">
            <mat-list style="padding: 0;">
                <mat-list-item style="padding-left: 0;" *ngFor="let l of logs">
                    <mat-icon mat-list-icon style="color: grey;" *ngIf="l.type == 'file'">next_plan</mat-icon>
                    <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type == 'file'">
                        <span class="i2">{{l.message}}</span>
                    </div>
                    <mat-icon mat-list-icon [ngStyle]="{'color': l.icon === 'check_circle' ? '#66BB6A' : l.icon === 'error' ? '#FFCA28' : '#FF5722'}" *ngIf="l.type !== 'file'">{{l.icon}}</mat-icon>
                    <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type != 'file'">
                        <span class="i2">{{l.message}}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>