<div style="height: 100%; width: 100%; overflow: hidden;">
    <div class="header">
        <span style="margin: 0; font-weight: 300;" class="title">Debug Log</span>
        <span class="example-spacer"></span>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="Displays important messages about problems that occurerd during the creation of the visualization(s).">
            <mat-icon style="color: grey;">help_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="closeDrawer()" #tooltip="matTooltip" matTooltip="Close">
            <mat-icon style="color: grey;">close</mat-icon>
        </button>
    </div>
    <mat-tab-group mat-stretch-tabs class="tabs">
        <mat-tab [label]="sheet.sheet.display">
            <div class="content">
                <div class="details">
                    <mat-list style="padding: 0;">
                        <mat-list-item style="padding-left: 0;" *ngFor="let l of sheetLogs">
                            <mat-icon mat-list-icon style="color: grey;" *ngIf="l.type == 'file'">next_plan</mat-icon>
                            <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type == 'file'">
                                <span class="i2">{{l.message}}</span>
                            </div>
                            <mat-icon mat-list-icon [ngStyle]="{'color': l.icon === 'check_circle' ? '#66BB6A' : l.icon === 'error' ? '#FFCA28' : '#FF5722'}" *ngIf="l.type !== 'file'">{{l.icon}}</mat-icon>
                            <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type != 'file'">
                                <span class="i2">{{l.message}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="All">
            <div class="content">
                <div class="details">
                    <mat-list style="padding: 0;">
                        <mat-list-item style="padding-left: 0;" *ngFor="let l of logs">
                            <mat-icon mat-list-icon style="color: grey;" *ngIf="l.type == 'file'">next_plan</mat-icon>
                            <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type == 'file'">
                                <span class="i2">{{l.message}}</span>
                            </div>
                            <mat-icon mat-list-icon [ngStyle]="{'color': l.icon === 'check_circle' ? '#66BB6A' : l.icon === 'error' ? '#FFCA28' : '#FF5722'}" *ngIf="l.type !== 'file'">{{l.icon}}</mat-icon>
                            <div mat-line style="width: 100%; display: flex; justify-content: space-between;" *ngIf="l.type != 'file'">
                                <span class="i2">{{l.message}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="footer">
        <button mat-flat-button color="warn" (click)="mail()" class="mt-4">Report Problem</button>

    </div>
</div>