.demo-table {
    width: 100%;
    box-shadow: none;
    border: solid 1px #f5f5f5;
    border-collapse: collapse;
    // border: 1rem rgba(0, 0, 0, 0.12);
    // border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  