.report {
  min-width: 600px;
}

.date {
  color: grey;
  font-size: 9pt;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
  margin-top: -10px;
}

::ng-deep .mat-subheader {
  padding: 0 !important;
}

::ng-deep .mat-tab-body {
  text-align: left;
}



.content {
  margin-top: 15px;
  z-index: 1;
}

.title {
  font-size: 20pt;
  line-height: 1.6;
}

.title1 {
  font-size: 18pt;
  font-weight: 400;
  margin-bottom: 20px;
}

.title2 {
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 15px;
}

.i1 {
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.i1:hover {
  color: #1976d2;
}

.i2 {
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  left: 0px;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(203, 203, 203);
}

.overview {
  font-size: 14pt;
}

.number {
  font-weight: 400;
}

.details {
  font-size: 14pt;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header:not(.compare) {
  background: rgb(235, 235, 235) !important;
}

.mat-expansion-panel-header:hover {
  opacity: 0.85 !important;
}

.compare .mat-expansion-panel-header-description {
  justify-content: flex-end !important;
  align-items: center;
  margin-right: 0 !important;
}


.compare .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.compare .mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


::ng-deep.mat-expansion-indicator {
    margin-top: -5px !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.tabs {
  position: absolute;
  top: 65px;
  bottom: 65px;
  overflow: auto;
  right: 0px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  /* height: 100%; */
  /* flex: 1 1 auto; */
}
.loader{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loader > embed {
  display: block;
  width: 150px;
  height: 75px;
  text-align: center;
}

.dbtn {
  border: 1px solid #444a65;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s;
}

.dbtn:hover {
  background-color: #444a65;
  color: white;
}