<div style="width: 100%;">
  <mat-drawer-container class="drawer-container" autosize hasBackdrop="true">
    <mat-drawer
      #drawer
      class="sidenav-drawer"
      mode="over"
      opened="false"
      position="end"
      (closedStart)="closeComponent()"
    >
      <app-report
        (closeComponent)="drawer.toggle()"
        [refreshData]="refreshReport"
        #reportComponent
        [currentSheet]="currentSheet"
        *ngIf="showCompInDrawer == 'Report'"
      ></app-report>
      <app-logs
        (closeComponent)="drawer.toggle()"
        [refreshData]="refreshLogs"
        #logs_component
        *ngIf="showCompInDrawer == 'Logs'"
      ></app-logs>
    </mat-drawer>
    <div class="content text-center">
      <app-navbar
        (showReport)="toggleReportDrawer($event)"
        (showLog)="toggleLogsDrawer($event)"
        (showGraph)="showGraph($event)"
        (refresh)="refreshData($event)"
        (getSheet)="getSelectedSheet($event)"
        (downloadVis)="downloadVis($event)"
      ></app-navbar>
      <app-tree
        #tree
        *ngIf="displayGraph === 'Tree'"
        [refreshData]="refreshTree"
        [currentSheet]="currentSheet"
        (returnRefresh)="returnRefresh($event)"
        [shouldReloadData]="shouldRefreshData"
      ></app-tree>
      <app-indent
        *ngIf="displayGraph === 'Indented List'"
        [refreshData]="refreshIndent"
        [currentSheet]="currentSheet"
        (returnRefresh)="returnRefresh($event)"
        [shouldReloadData]="shouldRefreshData"
      ></app-indent>
    </div>
  </mat-drawer-container>
</div>
