.drawer-container {
    width: 100%;
    height: 100vh;
}

.content {
    height: 100%;
    width: 100%;
}

.sidenav-drawer {
    padding: 20px;
    width: 45%;
    max-width: 580px;
    overflow-x: auto;
}


@media only screen and (max-width: 600px) {
    .sidenav-drawer {
        width: 100%;
        
    }
  } 

/* SNACKABR */



::ng-deep .mat-dialog-container {
    box-shadow: none !important;
}