.dark {
  background-color: #262626;
}

.navbar {
  position: fixed;
  z-index: 100;
}

.title2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.125rem;
  line-height: 2.75rem;
  font-weight: 700;
  hyphens: auto;
  letter-spacing: 0.25rem;
}

.desc {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.5625rem;
}

.top-padding {
  padding-top: 8rem;
}

.drawer {
  width: 18rem;
}

h1 {
  font-weight: 800 !important;
  font-family: "Poppins", sans-serif;
}

.menu-item {
  transform: all 0.3s;
  cursor: pointer;

  &:hover:not(.bg-light) {
    transition: all 0.3s;
    background-color: #f2f2f2 !important;
  }
}

.bg-light {
  color: #444a65;
  background-color: #e1e1e1 !important;
}

.nav-height {
  padding-top: 62px;
}

.goto {
  transition: all 0.3s;
  cursor: pointer;
  
  &:hover {
    color: white;
    background-color: #444a65;
  }

  &:active {
    color: white;
    background-color: #2e3243;
  }
}

