<div style="width: 100%;">
    <mat-drawer-container class="drawer-container" autosize hasBackdrop="true">
        <mat-drawer #logs_drawer class="sidenav-drawer" mode="over" opened="false" position="end">
            <app-logs></app-logs>
        </mat-drawer>
        <div class="content text-center">
            <app-navbar (showLog)="toggleDrawer($event)" (showGraph)="showGraph($event)"></app-navbar>
            <app-tree *ngIf="displayGraph === 'Tree'"></app-tree>
            <app-indent *ngIf="displayGraph === 'Indent'"></app-indent>
        </div>
    </mat-drawer-container>
</div>