.drawer-container {
    width: 100%;
    height: 100vh;
}

.content {
    height: 100%;
    width: 100%;
}

.sidenav-drawer {
    padding: 20px;
    width: 45%;
    max-width: 580px;
    overflow-x: auto;
}


/* SNACKABR */

::ng-deep .green-snackbar {
    background: #4CAF50;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .red-snackbar {
    background: rgb(194, 87, 87);
}

::ng-deep .mat-dialog-container {
    box-shadow: none !important;
}