@import "./../../../assets/stylesheets/colors.scss";

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header:not(.compare) {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.mat-expansion-panel-header {
  transition: all 0.3s;
  background-color: $secondary !important;
}

.mat-expansion-panel-header:hover {
  background-color: darken($color: $secondary, $amount: 8%) !important;
}

.circle {
  height: 0.9375rem;
  width: 0.9375rem;
  border-radius: 50%;
  display: inline-block;
}

.protein {
  height: 1.063rem;
  width: 1.063rem;
  background-image: url(../../../assets/legends/diamondSymbol.svg);
  background-repeat: no-repeat;
  background-position: -0.438rem -0.438rem;
  background-color: unset !important;
}

.lipids {
  height: 1.063rem;
  width: 1.063rem;
  background-image: url(../../../assets/legends/squareSymbol.svg);
  background-repeat: no-repeat;
  background-color: unset !important;
  background-position: -0.438rem -0.438rem;
}

.metabolites {
  height: 1.063rem;
  width: 1.063rem;
  background-image: url(../../../assets/legends/triangleSymbol.svg);
  background-color: unset !important;
  background-repeat: no-repeat;
  background-position: -0.438rem -0.438rem;
}

.proteoforms {
  height: 1.063rem;
  width: 1.063rem;
  background-image: url(../../../assets/legends/crossSymbol.svg);
  background-color: unset !important;
  background-repeat: no-repeat;
  background-position: -0.438rem -0.438rem;
}

.legend-div {
  max-height: 11.25rem;
  overflow-y: auto;
}
