.bip {
  font-size: 10pt;
}

.item {
  border-radius: 0.5rem;
  border: 2px solid #ececec;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    border-color: #bfbfbf;
  }

  &:active {
    background-color: #f4f4f4;
  }
}