<div class="h-100 w-100">
  <mat-drawer-container class="control-pane-container h-100" autosize>
    <mat-drawer
      #controlPaneDrawer
      class="control-pane"
      mode="side"
      [opened]="pane$ | async"
    >
      <app-control-pane [error]="error"></app-control-pane>
    </mat-drawer>

    <mat-drawer
      #rightDrawer
      class="right-sidenav"
      mode="over"
      [opened]="
        (il$ | async) || (report$ | async) || (dl$ | async) || (c$ | async)
      "
      position="end"
      (closedStart)="toggleSideNav()"
      autoFocus="false"
    >
      <app-report
      (deleteSheet)="deleteSheet($event)"
        [compareData]="allCompareData$"
        [inputReportData]="rd$"
        (closeReport)="rightDrawer.close()"
        *ngIf="report$ | async"
        [sheetData]="data"
        [currentSheet]="sheet"
        [linksData]="links$ | async"
        (computedReport)="updateReport($event)"
      ></app-report>

      <app-indent
        (closeIL)="rightDrawer.close()"
        *ngIf="il$ | async"
        [sheetData]="data"
        [currentSheet]="sheet"
        (openBottomSheet)="getStructureInfo($event)"
      ></app-indent>

      <app-debug-logs
        (closeDebug)="rightDrawer.close()"
        *ngIf="dl$ | async"
        [currentSheet]="sheet"
        [logs]="logs$ | async"
      ></app-debug-logs>

      <app-comapre
        (closeCompare)="rightDrawer.close()"
        *ngIf="c$ | async"
        class="compare-sidenav"
        (compareData)="compareData($event)"
        [compareSheets]="compareSheets$"
      ></app-comapre>
    </mat-drawer>

    <div id="content" class="h-100 w-100">
      <app-navbar (export)="exportVis($event)"></app-navbar>
      <app-error *ngIf="error.hasError" [error]="error"></app-error>
        <div
        class="example-box box-container" cdkDrag
      [ngStyle]="{'margin-top': (mode$ | async) === 'vis' ? '1.25rem' : '4.0625rem'}"
        *ngIf="(pane$ | async) === false"
      >
        <app-legend
          
          [treeData]="treeData$ | async"
          [bimodalData]="bm$ | async"
          [compareData]="compareSheets$ | async"
          [error]="error"
        ></app-legend>
      </div>
      <div class="tree-div" *ngIf="(mode$ | async) === 'vis'">
        <app-tree *ngIf="!error.hasError"></app-tree>
      </div>

      <div class="playground-dig" *ngIf="(mode$ | async) === 'playground'">
        <app-playground></app-playground>
      </div>
    </div>
  </mat-drawer-container>
</div>
