.control-pane-container {
  height: 100%;
  width: 100%;
}

.control-pane {
  width: 250px;
  border-right: 3px solid #444a6510;
  min-width: 50px;
}

.tree-div {
  max-width: 100%;
  overflow-x: auto;
}

.right-sidenav {
  min-width: 500px;
  max-width: 700px;
  overflow-x: auto;
  border-left: 3px solid #ececec;
  box-shadow: none !important;
}

.compare-sidenav {
  width: 650px !important;
}