<div class="h-100 w-100" >
  <mat-drawer-container class="control-pane-container" autosize class="h-100" >
    <mat-drawer #controlPaneDrawer class="control-pane" mode="side" [opened]="pane$ | async">
     <app-control-pane></app-control-pane>
    </mat-drawer>

      <mat-drawer #rightDrawer class="right-sidenav" mode="over" [opened]="(il$ | async) || (report$ | async)|| (dl$ | async)" position="end" (closedStart)="toggleSideNav()" autoFocus="false">
        <app-report (close)="rightDrawer.close()" *ngIf="report$ | async" [sheetData]="data" [currentSheet]="sheet"></app-report>
        <app-indent (close)="rightDrawer.close()" *ngIf="il$ | async" [sheetData]="data" [currentSheet]="sheet"></app-indent>
        <app-debug-logs (close)="rightDrawer.close()" *ngIf="dl$ | async" [currentSheet]="sheet" [logs]="logs$ | async"></app-debug-logs>
      </mat-drawer>

    <div id="content">
      <app-navbar></app-navbar>
      <app-error *ngIf="error.hasError" [error]="error"></app-error>
      <div class="tree-div">
        <app-tree *ngIf="!error.hasError" ></app-tree>
      </div>
    </div>
  </mat-drawer-container>
</div>