.control-pane-container {
  height: 100%;
  width: 100%;
}

.control-pane {
  width: 15.625rem;
  border-right: 0.1875rem solid #444a6510;
  min-width: 3.125rem;
}

.tree-div {
  max-width: 100%;
  overflow-x: auto;
}

.right-sidenav {
  min-width: 31.25rem;
  max-width: 43.75rem;
  overflow-x: auto;
  border-left: 0.1875rem solid #ececec;
  box-shadow: none !important;
}

.compare-sidenav {
  width: 40.625rem !important;
}

.example-box {
  cursor: move;
  z-index: 5;
}
.box-container{
  position: absolute; 
  width: 15.625rem; 
  left: 0.625rem; 
  z-index: 2;
}

