
    <div class="d-flex justify-content-center align-items-center flex-column nav-item px-2">
      <!-- <button
      mat-icon-button
      (click)="window.open('https://docs.google.com/spreadsheets/d/1tK916JyG5ZSXW_cXfsyZnzXfjyoN-8B2GXLbYD6_vF0/edit#gid=2034682742','_blank')"
      
      style="background-color: #f5f5f5;"
    > -->
      <!-- <mat-icon style="margin-bottom: -5px;">table_view</mat-icon> -->
      <ng-content></ng-content>
    <!-- </button> -->
    <span class="label m-0">{{label}}</span>
    </div>