.label {
  font-size: 0.5625rem;
}

.nav-item {
  // margin-top: 10px;
  padding-top: 0.625rem;
  cursor: pointer;
  color: rgb(89, 89, 89);
  transition: 0.2s all;
}

.nav-item:hover {
  // background-color: #efefef;
  color: black;
}

.nav-item:active {
  // background-color: #d8d8d8;
}
