.example-spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
}

p {
  margin: 0;
}

.dark {
  color: #262626 !important;
}
.a-nav {
  // color: #444a65;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none !important;
  font-size: 14px;
  color: white;
}

.a-nav:hover {
  transition: all 0.5s;
  color: rgb(147, 147, 147);
}

.linker {
  color: white; font-weight: 500;
  cursor: pointer;
}
.linker:hover {
  text-decoration: underline;
}

.title-desc {
  text-align: justify;
  text-justify: inter-word;
  color: rgb(164, 164, 164);
  font-size: 12pt;
  hyphens: auto;
}

.title {
  font-size: 70px;
  line-height: 75px;
  font-weight: 400;
  color: #444a65;
  text-align: justify;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .title {
      text-align: center;
  }
  .title-desc {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
  }
  .title-btn {
      display: flex;
      width: 100%;
      justify-content: center;
  }
}

.title1 {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  line-height: 80px;
  color: white;
  font-weight: bolder;
  letter-spacing: 8px;
}

.title2 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  line-height: 30px;
  color: #262626;
  font-weight: 400;
  hyphens: auto;
  font-weight: bolder;
  letter-spacing: 4px;
}

.title3 {
  font-size: 30px;
  line-height: 30px;
  color: #4e5366;
  font-weight: 400;
}

.title4 {
  font-size: 20px;
  line-height: 20px;
  color: #4e5366;
  font-weight: 400;
}

.subtitle {
  font-size: 16px;
  line-height: 15px;
  color: #e3e3e3;
  font-weight: 400;
}

.pro {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 2px solid rgb(218, 218, 218);
}

.desc {
  font-size: 12pt;
  font-weight: 400;
  // text-align: justify;
  hyphens: auto;
  overflow: auto;
  color: white;
  // color: rgba(52, 52, 52, 0.591);
  max-width: 780px;
}

.logo1 {
  margin-right: 10px;
  width: 90px;
  cursor: pointer;
  color: white;
}

.logo2 {
  margin-right: 10px;
  width: 100px;
  cursor: pointer;
  color: white;
}

/* CARDS */

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 28px 25px rgba(128, 128, 128, 0.057);
  transition: all 0.5s ease;
}

.card:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 28px 35px rgba(128, 128, 128, 0.226);
}

::ng-deep .organMenu {
  width: 300px !important;
  height: 200px !important;
}

#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80%;
  width: 100%;
  background-color: #262626;
  z-index: -1;
}

.laptop {
  position: relative;
  width: 100%;
  height: auto;
}

.laptop:after {
  content: '';
  display: block;
}

.l {
  // position: absolute;
  width: 100%;
}

.i {
  position: absolute;
  width: 80%;
  left: 123px;
  top: 28px;
  z-index: -1;
}

@media (min-width: 576px) {
  .i {
    position: absolute;
    width: 80%;
    left: 83px;
    top: 18px;
    z-index: -1;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .i {
    position: absolute;
    width: 80%;
    left: 103px;
    top: 23px;
    z-index: -1;
  }
 }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .i {
    position: absolute;
    width: 80%;
    left: 123px;
    top: 28px;
    z-index: -1;
  }
 }

.section-selector {
  text-align: left;
  outline: none;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  border-left-width: 15px;
  background-color: #fcfcfc;
  transition: all 0.3s;
}

.section-selector:hover {
  border-color: #444a65;
}
.section-selector:active {
  transform: scale(0.99);
}

.section-selected {
  border-color: #444a65;
}

.ss-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  padding-bottom: 5px;
  
}

.ss-desc {
  color: grey;
}