<app-sidenav>
  <div header>
    <app-sidenav-header
      [title]="'Compare Data'"
      (closeSideNav)="closeCompare.emit()"
      [tooltipString]="
        'Link your own data to compare it with the Master Data Tables'
      "
    ></app-sidenav-header>
  </div>

  <div body>
    <div class="px-3">
      <mat-expansion-panel [expanded]="true" class="mepNoPadding">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="instruction-title">Instructions</div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="mt-1 text-muted">
          <ul class="pl-3">
            <li>
              Through this feature, you can compare your own data by pasting the
              Google Sheet link of your data in the fields mentioned below.
              Multiple data sources can be added by clicking on the '+ Add'
              button at the bottom. In order to successfuly link your sheet,
              make sure the sheet has
              <strong>public access (Anyone with the link can view).</strong>
            </li>
            <li>
              Please make sure your data follows the appropriate data format, see
              <a
                href="https://docs.google.com/spreadsheets/d/1bsA-HngthTD7NtzAfab8t3EVjFFT439-Pc-mp_mdZUU/edit#gid=0"
                target="_blank"
                >template</a
              >.
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="content px-3">
      <div class="mt-3">
        <span class="required-field-disclaimer">* required field</span>
      </div>

      <form [formGroup]="formGroup" class="mt-4 px-2">
        <div formArrayName="sheets">
          <div
            *ngFor="let sheet of CSControls.controls; let i = index"
            class="cc py-3"
          >
            <div [formGroupName]="i">
              <div
                class="w-100 title-sheet-container"
              >
                <div class="w-75 mr-1">
                  <!-- <mat-form-field
                    [floatLabel]="'always'"
                    class="link-input-field"
                  >
                    <mat-label>Title</mat-label>
                    <input
                      matInput
                      [placeholder]="'Sheet ' + (i + 1)"
                      formControlName="title"
                    />
                    <mat-hint>A title for your sheet</mat-hint>
                  </mat-form-field> -->
                  <p>
                    <mat-form-field  appearance="legacy">
                      <mat-label>Title</mat-label>
                      <input matInput placeholder="Sheet {{i+1}}" formControlName="title">
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-hint>A title for your sheet</mat-hint>
                    </mat-form-field>
                  </p>
                </div>
                <div class="w-75 ml-1">
                  <p>
                    <mat-form-field appearance="legacy">
                      <mat-label>Description</mat-label>
                      <input matInput placeholder="This data maps amazing structures!" formControlName="description">
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-hint>A suitable description</mat-hint>
                    </mat-form-field>
                  </p>
                  <!-- <mat-form-field
                    [floatLabel]="'always'"
                    class="link-input-field"
                  >
                    <mat-label>Description</mat-label>
                    <input
                      matInput
                      placeholder="This data maps amazing structures!"
                      formControlName="description"
                    />
                    <mat-hint>A suitable description</mat-hint>
                  </mat-form-field> -->
                </div>
              </div>
              <div
                class="w-100 mt-4 sheet-link-container"
              >
                <div class="w-100">
                  <p>
                    <mat-form-field appearance="legacy" class="w-75">
                  <!-- <mat-form-field
                    [floatLabel]="'always'"
                    class="link-input-field"
                  > -->
                    <mat-label>Google Sheets Link</mat-label>
                    <input
                      class="w-100"
                      matInput
                      placeholder="Enter link..."
                      formControlName="link"
                      required
                    />
                    <mat-hint>Enter Google Sheet Link</mat-hint>
                    <mat-error
                      *ngIf="
                        sheet.get('link').hasError('required') ||
                        sheet.get('link').hasError('pattern')
                      "
                      >Invalid link</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="pick-color-container">
                  <mat-label class="pick-color-title"
                    >Pick Color</mat-label
                  >
                  <input
                    type="color"
                    class="w-100 form-control pick-color-textbox"
                    formControlName="color"
                    [style.backgroundColor]="sheet.get('color').value"
                  />
                </div>
                <div class="mt-1 ml-2">
                  <button
                    mat-icon-button
                    [disabled]="formGroup.value.sheets.length === 1"
                    (click)="removeCompareSheetRow(i)"
                  >
                    <mat-icon color="red">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div footer>
    <div
      class="mt-2"
      class="button-container"
    >
      <button
        mat-flat-button
        color="primary"
        [disabled]="doesFormHaveError()"
        (click)="compare()"
        class="compare-button"
      >
        Compare
      </button>
      <button
        mat-flat-button
        class="add-button"
        (click)="addCompareSheetRow()"
      >
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
  </div>
</app-sidenav>