<div class="p-2">
  <div class="w-100 d-flex justify-content-between align-items-center border-bottom pb-2">
    <div>
      <span class="h5">{{info.name}}</span>
    </div>
    <div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="loading || info.name === '';else resultBlock">
    <div class="text-center">
      <img src="../../../assets/loading.svg" alt="" class="loading-wait">
      <p class="text-muted">Please wait while the data loads...</p>
    </div>
  </div>

  <ng-template #resultBlock>
    <div *ngIf="error.hasError; else infoBlock" class="pt-3">
      Could not fetch data {{!info.notes ? 'and notes' : ''}} for <b>{{info.name}}</b> {{info.notes? 'but we have some notes available' : ''}}. This could be because,
      <ul class="pl-3 pt-2">
        <li>Structure does not have an ontology ID.</li>
        <li>Structure has an invalid ontology ID.</li>
        <li>Broken network connection.</li>
      </ul>
      <div *ngIf="info.notes">
        <div class="pt-3"></div>

        <label><strong>Notes</strong></label>
        <div>
          {{info.notes}}
        </div>
      </div>
      <div *ngIf="info?.references.length">
        <div class="pt-3"></div>
        <label><strong>DOI</strong></label>
        <ul class="pl-3 pt-2">
          <li *ngFor="let refer of info.references">
            {{ refer.doi }}
          </li>
        </ul>
      </div>
    </div>
  </ng-template>


  <ng-template #infoBlock>
    <div *ngIf="!error.hasError" class="py-3 info">
      <label><strong>Description</strong></label>
      <div>
        {{info.desc ? info.desc : 'No description found.'}}
      </div>

      <div class="pt-3"></div>

      <label><strong>Ontology ID</strong></label>
      <div>
        {{info.ontologyId ? info.ontologyId : 'No ID found.'}}
      </div>

      

      <div class="pt-3"></div>

      <label><strong>{{ info.ontologyCode === 'HGNC' ? 'Link' : 'IRI'}}</strong></label>
      <div>
        <a [href]="info.iri" target="_blank" class="text-info">{{info.iri ? info.iri : 'No IRI found.'}}</a>
      </div>

    <div *ngIf="info.extraLinks">
        <div *ngFor="let item of info.extraLinks | keyvalue">
        
          <div class="pt-3"></div>
          <label ><strong>{{item.key}}</strong></label>
          <div>
            <a [href]="item.value" target="_blank" class="text-info">{{item.value ? item.value : 'No '+ item.key +' found.'}}</a>
          </div>
        </div>
    </div>

    <div class="pt-3"></div>

      <label><strong>Notes</strong></label>
      <div>
        {{info.notes? info.notes : 'No notes found'}}
      </div>
      <div class="pt-3"></div>

      <label><strong>DOI</strong></label>
      <div *ngIf="info?.references?.length">
        <ul class="pl-3 pt-2">
          <li *ngFor="let refer of info?.references">
            {{ refer.doi }}
          </li>
        </ul>
      </div>
      <div *ngIf="!info?.references?.length ">
        No DOI references found
      </div>
      
    </div>
  </ng-template>
</div>
