:host {
  display: flex;
  align-items: center;
  min-width: 400px;
  z-index: 9999;

  p {
    margin: 24px;
  }

  button {
    margin: 1rem;
    min-width: 6rem;
    background-color: #007cbe;
    display: flex;
    justify-content: center;
  }
}