

<mat-tab-group (selectedTabChange)="tabChange($event)"  class="remove-border-bottom" [(selectedIndex)]="tabIndex">
  <mat-tab label="Visualization"> 
    <app-tree></app-tree>
 </mat-tab>
  <mat-tab label="Table">
    <div #spreadsheet></div>
 </mat-tab>
  <mat-tab label="Upload"> 
    <div class="card m-2 p-4">
      <div class="card-header">
        <h3> <b>Upload Sheet</b> </h3>
      </div>
     <div class="card-body">
      <div >

          <input
          [(ngModel)]="link"
            matInput
            class="form-control"
            placeholder="Enter link..."
            required
          />

        <button mat-flat-button color="primary" (click)="upload()" class="mt-3">Upload</button>
      </div>
     </div>
    </div>
  </mat-tab>
</mat-tab-group>