.jexcel_about {
  visibility: none !important;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  // border-bottom: none;
  border-bottom: 3px solid #444a6510;

}
::ng-deep .mat-tab-labels {
  background-color: white !important;
  border: 0px !important;
}