.jexcel_about {
  visibility: none !important;
}

::ng-deep .jexcel tbody tr:nth-child(11) {
  font-weight: bold;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  // border-bottom: none;
  border-bottom: 0.1875rem solid #444a6510;

}
::ng-deep .mat-tab-labels {
  background-color: white !important;
  border: 0rem !important;
}

::ng-deep .jexcel > tbody > tr > td:nth-child(2){
  border: 0.0625rem solid #e3e3e3;
  overflow: visible;
}

::ng-deep .jexcel > thead > tr > td {
  border: 0.0625rem solid #e3e3e3;
  overflow: visible;
}

// ::ng-deep .mat-tab-label-container {
//   display: none !important;
// }