.jexcel_about {
  visibility: none !important;
}

::ng-deep .jexcel tbody tr:nth-child(11) {
  font-weight: bold;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
  // border-bottom: none;
  border-bottom: 3px solid #444a6510;

}
::ng-deep .mat-tab-labels {
  background-color: white !important;
  border: 0px !important;
}

::ng-deep .jexcel > tbody > tr > td {
  border: 1px solid #e3e3e3;
}

::ng-deep .jexcel > thead > tr > td {
  border: 1px solid #e3e3e3;
}

// ::ng-deep .mat-tab-label-container {
//   display: none !important;
// }