<mat-tab-group
  (selectedTabChange)="tabChange($event)"
  class="remove-border-bottom"
  [(selectedIndex)]="tabIndex"
>
  <mat-tab label="Visualization">
    <app-tree></app-tree>
  </mat-tab>
  <mat-tab label="Table">
    <div #spreadsheet></div>
  </mat-tab>
  <mat-tab label="Upload">
    <div class="card m-2 p-4">
      <h5 class="font-weight-bold">Link Sheet</h5>
      <div class="mt-4">
        <form class="w-100">
          <p>
            <mat-form-field class="w-50" appearance="legacy">
              <mat-label>Google Sheet or CSV Link</mat-label>
              <input type="text" placeholder="Enter link..." matInput [formControl]="linkFormControl" />
              <mat-hint
                >Enter Browser URL address for your <strong>public</strong> Google Sheet or CSV.</mat-hint>
              <mat-error
                *ngIf="
                  linkFormControl.hasError('email') ||
                  linkFormControl.hasError('required')
                "
              >
              Enter Browser URL address for your public Google Sheet or CSV.
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <button
          mat-flat-button
          color="primary"
          (click)="upload()"
          class="mt-4"
          [disabled]="linkFormControl.status === 'INVALID'"
        >
          Link
        </button>
      </div>
    </div>
    <div class="card m-2 p-4">
      <h5 class="font-weight-bold">Upload CSV File</h5>
      <div class="mt-4">
        <app-file-upload (fileFormDataEvent)="upload($event)"></app-file-upload>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
