<div class="p-2">
  <div
    class="w-100 d-flex justify-content-between align-items-center border-bottom pb-2"
  >
    <div>
      <span class="h5">DOI Details</span>
    </div>
    <div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <div *ngIf="!error.hasError" class="py-3 doi">
      <ol>
        <li *ngFor="let item of data; index as i">
          <label><b>DOI: </b></label>
          <span>
            {{ item.doi }}
          </span>

          <div class="pt-3"></div>

          <label><b>Id: </b></label>
          <span>
            {{ item.id }}
          </span>

          <div class="pt-3"></div>

          <label><b>Notes: </b></label>
          <span>
            {{ item.notes }}
          </span>
          <hr />
        </li>
      </ol>
    </div>
  </div>
</div>
