<mat-toolbar color="secondary"  class="d-flex align-items-center toolbar-nav"
  [ngStyle]="{'border-bottom': (mode$ | async) === 'vis' ?'0.1875rem solid #444a6510' : 'none'}">
  <div class="nav-wrapper">
    <app-nav-item
    [label]="'Toggle'"
    (click)="togglePane()"
    #tooltip="matTooltip"
    [matTooltip]="'Toggle Sidenav'" matTooltipPosition="below"
    >
      <mat-icon class="toolbar-icons">menu</mat-icon>
    </app-nav-item>
    <div *ngIf="(ui$ | async).controlPaneOpen === false">
      <img
        src="./assets/logo.svg"
        alt=""
        class="px-2"
        width="225"
        routerLink="/"
        matTooltip="Home Page"
        matTooltipPosition="below"
      />
    </div>
    <div class="search ml-1">
      <app-search [disabled]="(ui$ | async).error.hasError"></app-search>
    </div>
   
      <button mat-flat-button
      id="selectedorgansBtn"
      (click)="openSelectOrgansDialog()"
      class="select-organs-button secondary ch text-left"
      #tooltip="matTooltip"
      [disabled]="(mode$ | async) !== 'vis'"
      matTooltip="Select Organ Set"
      matTooltipPosition="below">
      <span>&nbsp; {{(mode$ | async) === 'vis' ? selectedOrgansValues: "Example"}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <app-nav-item
      #tooltip="matTooltip"
      matTooltip="Master Data Tables"
      matTooltipPosition="below"
      [label]="'Data Tables'"
      (click)="openMasterDataTables()">
      <mat-icon class="toolbar-icons">table_view</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Refresh'"
    (click)="refreshData()"
    #tooltip="matTooltip"
    matTooltip="Refresh"
    matTooltipPosition="below"
    >
      <mat-icon class="toolbar-icons">refresh</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="(mode$ | async) === 'vis' ? 'Playground': 'Exit Playground'"
    (click)="toggleMode()"
    #tooltip="matTooltip"
    [matTooltip]="(mode$ | async) === 'vis' ? 'Playground': 'Exit Playground'"
    matTooltipPosition="below"
    >
    <mat-icon class="toolbar-icons">{{(mode$ | async) === 'vis' ? 'edit': 'exit_to_app'}}</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Indented List'"
    (click)="toggleIndentedList()"
    #tooltip="matTooltip" matTooltip="Indented List" matTooltipPosition="below"
    [disabled]="(ui$ | async).error.hasError" mat-icon-button
    >
    <mat-icon class="toolbar-icons">format_indent_increase</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Compare'"
    [disabled]="(ui$ | async).error.hasError" mat-icon-button (click)="toggleCompare()" #tooltip="matTooltip"
      matTooltip="Compare" matTooltipPosition="below"
    >
    <mat-icon class="toolbar-icons">compare_arrows</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Report'"
    [disabled]="(ui$ | async).error.hasError" mat-icon-button (click)="toggleReport()" #tooltip="matTooltip"
      matTooltip="Report" matTooltipPosition="below"
    >
    <mat-icon class="toolbar-icons">bar_chart</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Debug Log'"
    (click)="toggleDebugLogs()" #tooltip="matTooltip" matTooltip="Debug Log"
    matTooltipPosition="below"
    >
    <mat-icon class="toolbar-icons">bug_report</mat-icon>
    </app-nav-item>

    <app-nav-item
    [label]="'Export'"
    [disabled]="(ui$ | async).error.hasError" autofocus="false" mat-icon-button #tooltip="matTooltip"
      matTooltip="Export" matTooltipPosition="below" [matMenuTriggerFor]="downloadMenu"
    >
    <mat-icon class="toolbar-icons">get_app</mat-icon>
    </app-nav-item>

    <mat-menu #downloadMenu="matMenu">
      <button mat-menu-item *ngFor="let option of imgOptions" (click)="exportImage(option)">
        {{ option }}
      </button>
    </mat-menu>

    <app-nav-item
    [label]="'Menu'"
    #tooltip="matTooltip" matTooltip="Menu" matTooltipPosition="below"
      [matMenuTriggerFor]="menu"
    >
    <mat-icon class="toolbar-icons">more_vert</mat-icon>
    </app-nav-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let option of moreOptions" (click)="onOptionClick(option.type, option.url)">
        {{ option.name }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
