<mat-toolbar
  color="secondary"
  style="
    /* padding-left: 50px !important; */
    padding-right: 50px !important;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #444a6510;
    width: 100%;
    background-color: white;
  "
>
  <div class="nav-wrapper">
    <div *ngIf="!(ui$ | async).controlPaneOpen">
      <img
        src="./../../../assets/logo2.png"
        alt=""
        class="w-100 logo-link"
        routerLink="/"
        matTooltip="Home Page"
        matTooltipPosition="below"
      />
    </div>
    <button
      *ngIf="!(ui$ | async).controlPaneOpen"
      (click)="togglePane()"
      mat-icon-button
      #tooltip="matTooltip"
      matTooltip="Show Control Pane"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important">menu</mat-icon>
    </button>
    <div class="search">
      <app-search [disabled]="(ui$ | async).error.hasError"></app-search>
    </div>
    <mat-form-field style="margin-bottom: 0">
      <button
        class="secondary select-border"
        mat-flat-button
        style="width: 100%"
        #tooltip="matTooltip"
        matTooltip="Select Organ Set"
        matTooltipPosition="below"
      >
        <mat-select
          (selectionChange)="getVersionSelection(selectedVersion, $event)"
          [(ngModel)]="selectedVersion"
        >
          <mat-option *ngFor="let option of VERSIONS" [value]="option.display">
            {{ option.display }}
          </mat-option>
        </mat-select>
      </button>
    </mat-form-field>
    <mat-form-field style="margin-bottom: 0">
      <button
        class="secondary select-border"
        mat-flat-button
        style="width: 100%"
        #tooltip="matTooltip"
        matTooltip="Select Organ Set"
        matTooltipPosition="below"
      >
        <mat-select
          (selectionChange)="getSheetSelection(selectedSheetOption, $event)"
          [(ngModel)]="selectedSheetOption"
        >
          <mat-option
            *ngFor="let option of SHEET_OPTIONS"
            [value]="option.title"
          >
            {{ option.title }}
          </mat-option>
        </mat-select>
      </button>
    </mat-form-field>

    <button
      mat-icon-button
      (click)="refreshData()"
      #tooltip="matTooltip"
      matTooltip="Refresh Data"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >refresh</mat-icon
      >
    </button>

    <button

      mat-icon-button
      (click)="toggleIndentedList()"
      #tooltip="matTooltip"
      matTooltip="Indented List"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >format_list_bulleted</mat-icon
      >
    </button>

    <button
      [disabled]="(ui$ | async).error.hasError"
      mat-icon-button
      (click)="toggleIndentedList()"
      #tooltip="matTooltip"
      matTooltip="Compare"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >compare_arrows</mat-icon
      >
    </button>

    <button
      [disabled]="(ui$ | async).error.hasError"
      mat-icon-button
      (click)="toggleReport()"
      #tooltip="matTooltip"
      matTooltip="Report"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >show_chart</mat-icon
      >
    </button>

    <button
      [disabled]="(ui$ | async).error.hasError"
      mat-icon-button
      (click)="toggleDebugLogs()"
      #tooltip="matTooltip"
      matTooltip="Debug Log"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >bug_report</mat-icon
      >
    </button>

    <button
      [disabled]="(ui$ | async).error.hasError"
      autofocus="false"
      mat-icon-button
      #tooltip="matTooltip"
      matTooltip="Export"
      matTooltipPosition="below"
      style="background-color: #f5f5f5"
      [matMenuTriggerFor]="downloadMenu"
    >
      <mat-icon style="margin-bottom: 5px !important"
        >get_app</mat-icon
      >
      <mat-menu #downloadMenu="matMenu" >
        <button
          mat-menu-item
          *ngFor="let option of IMG_OPTIONS"
          (click)="export.emit(option)"
        >
          {{ option }}
        </button>
      </mat-menu>
    </button>

    <div>
      <button
          mat-icon-button
          #tooltip="matTooltip"
          matTooltip="Menu"
          matTooltipPosition="below"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon style="margin-bottom: 5px !important">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngFor="let option of MORE_OPTIONS"
              (click)="window.open(option.url, '_blank')"
            >
              {{ option.name }}
            </button>
          </mat-menu>
        </button>
    </div>
  </div>
</mat-toolbar>
