.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.nav-wrapper > * {
  margin-right: 0.625rem;
}
// remove underline from mat-select
::ng-deep .mat-form-field-underline {
  display: none;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0 !important;
  padding: 0;
}

::ng-deep .mat-form-field-infix {
  border-top: none !important;
}

.mat-icon-button {
  border-radius: 0.5rem !important;
}

.search {
  width: 30%;
}

.label {
  font-size: 0.5rem;
}
.toolbar-nav {
  padding-right: 3.125rem !important;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
}
.show-control-pane-button {
  background-color: #f5f5f5;
}
.show-control-pane-icon {
  margin-bottom: 0.3125rem !important;
}
.orgon-selection-box {
  margin-bottom: 0;
}
.orgon-selection-button {
  width: 100%;
}
.toolbar-icons {
  margin-bottom: -0.3125rem !important;
}
.toolbar-icons-top {
  margin-top: -0.3125rem;
}

.label {
    font-size: 0.5rem;
}

.index {
    z-index: 1;
}
