.mat-select-arrow {
  visibility: hidden;
}

.selection-icon {
  position: relative;
  top: 6px;
  margin-right: 16px;
}

.ch {
  height: 41.3px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.br-left {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}