<div class="h-100 w-100" style="display: flex; align-items: center">
  <div style="display: inline-block; background: #f5f5f5" class="pl-2 br-left">
    <mat-icon class="mt-2">search</mat-icon>
  </div>
  <mat-form-field class="w-100 h-100">
    <button
      class="w-100 secondary ch text-left"
      mat-flat-button
      #tooltip="matTooltip"
      matTooltip="Search Structures"
      matTooltipPosition="below"
    >
      <mat-select
        [formControl]="structuresMultiCtrl"
        [multiple]="true"
        #multiSelect
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="structuresMultiFilterCtrl"
            [placeholderLabel]="'Search Structures'"
            noEntriesFoundLabel="No entries Found"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let structures of filteredstructuresMulti | async"
          [value]="structures"
        >
          {{ structures.name }}
        </mat-option>
      </mat-select>
    </button>
  </mat-form-field>
</div>
