<div class="h-100 w-100 search-container">
  <div class="pl-2 br-left search-icon-container">
    <mat-icon class="mt-2">search</mat-icon>
  </div>
  <mat-form-field class="w-100 h-100">
    <button
      [disabled]="disabled"
      (click)="createSearchList()"
      class="w-100 secondary ch text-left"
      mat-flat-button
      #tooltip="matTooltip"
      matTooltip="Search Structures"
      matTooltipPosition="below"
    >
      <mat-select
        [disabled]="disabled"
        [formControl]="structuresMultiCtrl"
        [multiple]="true"
        #multiSelect
        (selectionChange)="onOptionSelect()"
      >
        <mat-option>
          <ngx-mat-select-search
           
            [formControl]="structuresMultiFilterCtrl"
            [placeholderLabel]="'Search Structures'"
            noEntriesFoundLabel="No entries Found"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let structures of filteredstructuresMulti | async"
          [value]="structures"
          
        >
         <div class="structure-name">
           <div>
            {{ structures.name }}
           </div>
           <div class="structure-group-name" >
            <i>{{ structures.groupName }}</i>
           </div>
         </div>
        </mat-option>
      </mat-select>
    </button>
  </mat-form-field>
</div>
