<div style="width: 100%; height: 100%;" (window:resize)="onResize($event)">
  <!-- NAVBAR -->
  <div style="width: 100%; background-color: #444a65; z-index: 2;">
    <mat-toolbar style="background-color: #444a65;" class="container" no-shadow>
      <div class="navbar-logo">
        <img src="assets/logo.svg" alt class="logo1" (click)="openGithub($event)" />
        <img src="assets/ccf.svg" alt class="logo2" (click)="openGithub($event)" />
      </div>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        #tooltip="matTooltip"
        matTooltip="Refresh Data"
        matTooltipPosition="below"
        [matMenuTriggerFor]="hamMenu"
        *ngIf="screenWidth <= 700"
      >
        <mat-icon style="color: white; font-weight: bold;">menu</mat-icon>
        <mat-menu #hamMenu="matMenu">
          <button (click)="openData()" mat-menu-item>
            Tables
          </button>
          <button class (click)="openGithub()" mat-menu-item>
            GitHub
          </button>
          <button class (click)="openDocs()" mat-menu-item>
            Documentation
          </button>
        </mat-menu>
      </button>
      <div *ngIf="screenWidth > 700">
        <a (click)="openData()" class="a-nav">
          Tables
        </a>
        <a class (click)="openGithub()" class="a-nav">
          GitHub
        </a>
        <a class (click)="openDocs()" class="a-nav">
          Documentation
        </a>
      </div>
    </mat-toolbar>
  </div>

  <!-- TITLE AND VIDEO -->
  <div style="height: 80%;" class="container">
    <div class="row" style="height: 100%; display: flex; align-items: center;">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="title">ASCT+B REPORTER</div>
        <br />
        <div class="title-desc">
          <span>
            The CCF ASCT+B Reporter is a visualization tool for displaying
            anatomical structures, cell types, and biomarker (ASCT+B) tables for
            different human organs developed by domain experts. The tables are
            used to develop a common coordinate framework (CCF) of the healthy
            human body, see also

            <span
              style="color: rgb(96, 116, 167);"
              (click)="
                window.open('https://hubmapconsortium.github.io/ccf', '_blank')
              "
            >
              Hubmap Consortium.
            </span>
          </span>
        </div>
        <br />
        <br />
        <div class="title-btn">
          <button
            mat-flat-button
            style="
              padding: 20px;
              font-size: 20pt;
              background-color: rgb(77, 155, 103);
              color: rgb(249, 249, 249);
            "
            [matMenuTriggerFor]="menu" 
            
          >
            Go to Visualization
          </button>
            <mat-menu #menu="matMenu" class="organMenu">
              <button mat-menu-item *ngFor="let option of sheetOptions" style="width: 100%;" 
              routerLink="/vis"
              [queryParams]="{sheet: option.sheet, dataVersion: dataVersion}">
                <span>{{option.title}}</span>
              </button>
            </mat-menu>          
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="svg-wrapper" style="padding: 20px;">
          <video
            width="490"
            controls
            style="
              box-shadow: 5px 20px 30px #e1e1e1;
              border-radius: 10px;
              outline: none;
            "
            poster="assets/homeviewposter.png"
          >
            <source src="assets/video.mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>

  <!-- FEATURES -->
  <div style="background-color: #444a5612;">
    <div class="container">
      <br />
      <div
        class="title1"
        style="width: 100%; display: flex; justify-content: center;"
      >
        Features
      </div>
      <hr width="5%" color="#ededed" class="mt-1" />
      <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div class="card px-4 py-3" style="width: 100%; height: 335px;">
              <div class="card-body">
                <h5 class="title2">Tree Vis</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The ASCT+B Reporter combines two different types of Angular
                  visualizations to form a tree visualization: A partonomy tree
                  of anatomical structures interlinked via a bimodal network to
                  cell types and biomarkers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div class="card px-4 py-3" style="width: 100%; height: 335px;">
              <div class="card-body">
                <h5 class="title2">Indented List</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The ASCT+B Reporter also provides a list of the anatomical
                  partonomy for a hierarchical view.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div class="card px-4 py-3" style="width: 100%; height: 335px;">
              <div class="card-body">
                <h5 class="title2">Report Generator</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The ASCT+B Reporter computes various statistics of anatomical
                  structures, cell types, and biomarker sets. Reports can be
                  downloaded.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div class="card px-4 py-3" style="width: 100%; height: 335px;">
              <div class="card-body">
                <h5 class="title2">Debug Log</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The Debug Log lists warnings and errors that occurred during
                  data parsing and visualization creation—for individual organs
                  and for all organs.
                </p>
              </div>
            </div>
          </div>
          <br />
          <br />

          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div
              class="card px-4 py-3"
              style="width: 100%; height: 335px; hyphens: auto;"
            >
              <div class="card-body">
                <h5 class="title2">Functions</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The nodes in the bimodal networks can be size-coded by their
                  number of links (in degree, out degree, and total degree).
                  They can be sorted by node degree and alphabetically by node
                  label.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-5">
            <div
              class="card px-4 py-3"
              style="width: 100%; height: 335px; hyphens: auto;"
            >
              <div class="card-body">
                <h5 class="title2">Exports</h5>
                <hr width="50%" color="#ededed" />
                <p class="card-text desc">
                  The ASCT+B Reporter visualization can be saved out in PNG
                  (Portable Network Graphics) and SVG (Scalable Vector Graphics
                  File) format but also as Vega Specification.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

  <!-- CONTRIBUTORS -->
  <div style="background-color: #444a65;">
    <div class="container">
      <br />
      <div
        class="title1"
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          color: rgb(249, 249, 249);
        "
      >
        Contributors
      </div>
      <hr width="5%" color="#ededed" class="mt-1" />
      <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 mt-5">
            <img src="assets/contributors/paul.jpg" height="100" class="pro" />
            <div
              class="title2 mt-4"
              (click)="
                window.open('https://hrishikeshpaul.github.io', '_blank')
              "
              style="color: rgb(249, 249, 249); cursor: pointer;"
            >
              Hrishikesh Paul
            </div>
            <div class="pt-2">
              <span class="subtitle">
                Data Visualization Implementation and Testing
              </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mt-5">
            <img src="assets/contributors/katy.png" height="100" class="pro" />
            <div
              class="title2 mt-4"
              (click)="
                window.open('https://info.sice.indiana.edu/~katy/', '_blank')
              "
              style="color: rgb(249, 249, 249); cursor: pointer;"
            >
              Katy Börner
            </div>
            <div class="pt-2">
              <span class="subtitle">
                Initial Visualization, Design Mockup and Biomedical Use Cases
              </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mt-5">
            <img src="assets/contributors/bruce.jpg" height="100" class="pro" />
            <div class="title2 mt-4" style="color: rgb(249, 249, 249);">
              Bruce W Herr II
            </div>
            <div class="pt-2">
              <span class="subtitle"
                >System Architecture and Design Advice</span
              >
            </div>
          </div>
          <br />
        </div>
      </div>
      <br />
    </div>
  </div>

  <!-- AFFILIATIONS -->
  <div style="background-color: #fcfcfc;">
    <div class="container">
      <br />
      <div
        class="title1"
        style="width: 100%; display: flex; justify-content: center;"
      >
        Affiliations
      </div>
      <hr width="5%" color="#ededed" class="mt-1" />
      <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 mt-5">
            <img
              src="assets/affiliations/iu.jpg"
              height="100"
              style="cursor: pointer;"
              (click)="window.open('https://www.indiana.edu', '_blank')"
            />
          </div>
          <div class="col-lg-4 col-md-4 mt-5">
            <img
              src="assets/affiliations/cns.png"
              height="100"
              style="cursor: pointer;"
              (click)="window.open('https://cns.iu.edu', '_blank')"
            />
          </div>
          <div class="col-lg-4 col-md-4 mt-5">
            <img
              src="assets/affiliations/hubmap.png"
              height="100"
              style="cursor: pointer;"
              (click)="
                window.open('https://github.com/hubmapconsortium', '_blank')
              "
            />
          </div>
          <br />
        </div>
      </div>
      <br />
    </div>
  </div>

  <!-- FOOTER -->
  <div style="background-color: #444a5612; padding: 20px;">
    <div class="container">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <p style="color: #444a65;">
            Copyright © 2020, Cyberinfrastructure for Network Science Center,
            Indiana University
          </p>

          <ul style="color: #444a65;" class="pl-3">
            <li>
              <a (click)="window.open('https://www.indiana.edu', '_blank')"
                >Indiana University</a
              >
            </li>
            <li>
              <a (click)="window.open('https://cns.iu.edu', '_blank')">
                Cyberinfrastructure for Network Science Center
              </a>
            </li>
            <li>
              <a
                (click)="
                  window.open('https://github.com/hubmapconsortium', '_blank')
                "
                >HuBMAP Consortium</a
              >
            </li>
          </ul>
        </div>
        <div>
          <a
            style="color: #444a65; cursor: pointer;"
            (click)="
              window.open(
                'https://github.com/hubmapconsortium/ccf-asct-reporter/blob/master/LICENSE',
                '_blank'
              )
            "
          >
            MIT Licence
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
