.example-spacer {
    flex: 1 1 auto;
}

a {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.5s;
}

a:hover {
    transition: all 0.5s;
    text-decoration: underline;
}

.title {
    font-size: 85px;
    line-height: 100px;
    color: #444a65;
}

.title1 {
    font-size: 50px;
    line-height: 80px;
    color: #444a65;
}

.title2 {
    font-size: 40px;
    line-height: 30px;
    color: #4e5366;
    font-weight: 300;
}

.title3 {
    font-size: 30px;
    line-height: 30px;
    color: #4e5366;
    font-weight: 300;
}

.desc {
    font-size: 14pt;
    font-weight: 200;
    color: rgb(52, 52, 52);
}

.logo1 {
    margin-right: 10px;
    width: 90px;
    cursor: pointer;
    color: white;
}

.logo2 {
    margin-right: 10px;
    width: 100px;
    cursor: pointer;
    color: white;
}