<div style="width: 100%; height: 100%;">
    <!-- NAVBAR -->
    <div style="width: 100%; background-color: #444A65; z-index: 2;">
        <mat-toolbar style="background-color: #444A65; " class="container" no-shadow>
            <div class="navbar-logo">
                <img src="assets/logo.svg" alt="" class="logo1" (click)="openGithub()">
                <img src="assets/ccf.svg" alt="" class="logo2" (click)="openGithub()">
            </div>
            <span class="example-spacer"></span>
            <a (click)='openData()'>
                Tables
            </a>
            <a class="" (click)="openGithub()">
                Github
            </a>
            <a class="" (click)="openDocs()">
                Documentation
            </a>

        </mat-toolbar>
    </div>
    <!-- INTRO 1 -->

    <div style="height: 80%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="title">ASCT+B REPORTER</div>
        <br>
        <div style="width: 75%; text-align: center; text-justify: inter-word; color: rgb(164, 164, 164); font-size: 12pt;">
            ASCT+B tables represent anatomical structures (AS), their major cell types (CT) and biomarkers (B) used to identify cell types as identified by organ experts.
        </div>
        <div style="width: 75%; text-align: center; text-justify: inter-word; color: rgb(164, 164, 164); font-size: 12pt;">
            The CCF ASCT+B Reporter is a basic visualization tool for displaying the flattened ASCT+B tables built using Angular.
        </div>
        <br>
        <hr width="50%" color="#ececec">
        <br>
        <div>
            <button mat-flat-button style="padding: 20px; font-size: 20pt; background-color: rgb(77, 155, 103); color: white;" routerLink="/vis">Go to Visualization</button>
        </div>
    </div>

    <!-- FEATURES -->
    <div style="background-color: #444a5612;">
        <br>
        <div class="title1" style="width: 100%; display: flex; justify-content: center;">Features</div>
        <hr width="5%" color="#ededed" class="mt-1">
        <br>
        <br>
        <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="title2">Visualizations</div>
                    <hr width="50%" color="#ededed">
                    <div class="px-5" style="text-align: justify;">
                        <span class="desc">
                            The ASCT+B Reporter houses two different types of visualizations. One being the partonomy tree (Anatomical Structures) combined with a bimidal network (Cell Types and Biomarkers). The other one being an Indented List for a more traditional, hierachical look.
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="title2">Report Generator</div>
                    <hr width="50%" color="#ededed">
                    <div class="px-5" style="text-align: justify;">
                        <span class="desc">
                            The ASCT+B Reporter containes a download-able report generator that lists various statistics of the visualization, conputed from the flattened organ sheet.
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="title2">Debug Log</div>
                    <hr width="50%" color="#ededed">
                    <div class="px-5" style="text-align: justify;">
                        <span class="desc">
                            Often the data from the sheets isn't in the format that is required by the vis, or something may be incorrect. This is where the Debug Log comes into play, which enlists any warnings or errors that could've occurred during the creation of the visualization.
                        </span>
                    </div>
                </div>
                <br><br>
                <div class="col-lg-2 col-md-6 mt-5 mt-5">
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="title2">Functions</div>
                    <hr width="50%" color="#ededed">
                    <div class="px-5" style="text-align: justify;">
                        <span class="desc">
                            The nodes in the bimodal network can be sorted by their relative sizes and alphabetically. The size represents the degree of node. The nodes can further sized by their indegrees and outdegrees.
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="title2">Exports</div>
                    <hr width="50%" color="#ededed">
                    <div class="px-5" style="text-align: justify;">
                        <span class="desc">
                            The tree visualization can be exported to an image in either PNG or vector (SVG) format.
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 mt-5">
                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- CONTRIBUTORS -->
    <div style="background-color: #444a65;">
        <br>
        <div class="title1" style="width: 100%; display: flex; justify-content: center; color: white;">Contributors</div>
        <hr width="5%" color="#ededed" class="mt-1">
        <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/contributors/paul.jpg" height="100" class="pro">
                    <div class="title3 mt-4" (click)="window.open('https://hrishikeshpaul.github.io', '_blank')" style="color: white; cursor: pointer;">Hrishikesh Paul</div>
                    <div>
                        <span class="subtitle">Data Visualization Implementation and Testing</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/contributors/katy.png" height="100" class="pro">
                    <div class="title3 mt-4" (click)="window.open('https://info.sice.indiana.edu/~katy/', '_blank')" style="color: white; cursor: pointer;">Katy Börner</div>
                    <div>
                        <span class="subtitle">Initial Visualization, Design Mockup and Biomedical Usecase</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/contributors/bruce.jpg" height="100" class="pro">
                    <div class="title3 mt-4" style="color: white;">Bruce W Herr II</div>
                    <div>
                        <span class="subtitle">System Architecture and Design</span>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>

    <!-- AFFILIATIONS -->
    <div style="background-color: #fcfcfc;">
        <br>
        <div class="title1" style="width: 100%; display: flex; justify-content: center;">Affiliations</div>
        <hr width="5%" color="#ededed" class="mt-1">
        <div style="width: 100%; text-align: center;" class="pl-5 pr-5 pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/affiliations/iu.jpg" height="100" style="cursor: pointer;" (click)="window.open('https://www.indiana.edu', '_blank')">
                    <div class="title3 mt-4" (click)="window.open('https://www.indiana.edu', '_blank')" style="cursor: pointer;">Indiana University</div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/affiliations/cns.png" height="100" style="cursor: pointer;" (click)="window.open('https://cns.iu.edu', '_blank')">
                    <div class="title3 mt-4" style="cursor: pointer;" (click)="window.open('https://cns.iu.edu', '_blank')">Cyberinfrastrucutre for Network Science Center</div>

                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <img src="assets/affiliations/hubmap.png" height="100" style="cursor: pointer;" (click)="window.open('https://github.com/hubmapconsortium', '_blank')">
                    <div class="title3 mt-4" style="cursor: pointer;" (click)="window.open('https://github.com/hubmapconsortium', '_blank')">HuBMAP Consortium</div>
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>



    <!-- FOOTER -->
    <div style="background-color: #444a5612; padding: 20px;">
        <div class="container">

            <div style="display: flex; justify-content: space-between; width: 100%;">
                <span style="color: #444a65;">Copyright &copy; 2020, Cyberinfrastructure for Network Science Center, Indiana University</span>
                <span style="color: #444a65;" (click)="window.open('https://github.com/hubmapconsortium/ccf-asct-reporter/blob/master/LICENSE', '_blank')">MIT Licence</span>
            </div>
        </div>
    </div>


</div>