<div style="display: flex; flex-direction: column;">
    <div *ngIf="hasGraphRendered" style="width: 100%; text-align: end; margin-top: -5px;" id="hello">
        <mat-form-field>
            <button mat-flat-button style="width: 100%; background-color: rgb(223, 223, 223);" #tooltip="matTooltip" matTooltip="Sort Markers" matTooltipPosition="below">
            <mat-select (selectionChange)="getSelection()" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let option of sortOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </button>
        </mat-form-field>
        <h2 style="font-size: 20px;"><b>B list: Biomarkers</b></h2>

    </div>
    <div id="ASCTVis" #graph style="margin-top: -40px;"></div>
</div>