<div style="display: flex; flex-direction: column;">
    <div *ngIf="hasGraphRendered" style="width: 100%; text-align: end; margin-top: -5px;margin-left: -50px;" id="hello">
        <mat-form-field style="text-align: end;">
            <button mat-flat-button style="width: 80%; background-color: rgb(223, 223, 223);" #tooltip="matTooltip" matTooltip="Sort Markers" matTooltipPosition="below">
            <mat-select (selectionChange)="getSelection()" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let option of sortOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </button>
        </mat-form-field>
        <div style="width: 100%;">
            <h2 style="font-size: 16px; font-weight: 400 !important;">Biomarkers</h2>
        </div>
    </div>
    <div id="ASCTVis" #graph style="margin-top: -40px;"></div>
</div>