.mat-tree-node {
  min-height: 2em !important;
  cursor: pointer;
}

.mat-tree-node:hover {
  color: #1976D2;
}

.background-highlight {
  color: #1976D2;
}
.tree-container{
  padding: 1.25rem !important;
  width: fit-content !important;
  background-color: transparent;
}
.node-name-id{
  font-size: 8pt;
  color: grey; 
  padding-left: 0.625rem;
}
.node-button{
  background-color: rgb(215, 215, 215); 
  transform: scale(0.7);
}
.node-button-icon{
    font-size: 20pt;
    color: white;
    height: 1.5rem !important;
    width: 1.5rem !important;
    font-size: 14pt !important;
}
