:host {
    display: block;
    width: 25rem;
    height: 6.25rem;

    .file-input {
        display: none;
    }

    .file-upload {
        color: #757575;
    }

    button {
        margin-top: 2rem;
        display: flex;
        width: 14.688rem;
        height: 3.125rem;
        align-items: center;
        background: white;
        border-radius: 0.3rem;
        border-color: #9D9E9A;
        border-style: solid;
    }

    mat-icon {
        color: #9D9E9A;
    }

    .file-name {
        padding-top: 0.7rem;
    }
}