<input type="file" class="file-input" accept=".csv"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
  {{fileName || "No file uploaded yet."}}
  <br>
  <button mat-flat-button color="primary" (click)="fileUpload.click()" class="mt-4">
    Attach File
  </button>

  <!--
    Alternative (smaller) button styling. Could be useful for Compare Pane.
    <button mat-mini-fab color="primary" class="upload-btn"
    (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button> -->
</div>