// .cc {
//   border-radius: 8px;
//   box-shadow: 3px 3px 40px 30px #ececec;
// }

.link-input-field {
  width: 100%;
}

input[type="color"] {
	-webkit-appearance: none;
  border: none;
  outline: none;
}
::ng-deep input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.content {
  flex: 1 1;
  overflow: auto;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header:not(.compare) {
  background: rgb(228, 228, 228) !important;
}

.mat-expansion-panel-header:hover {
  opacity: 0.85 !important;
}
.instruction-title{
  font-weight: 600; 
  font-size: 10pt;
}
.required-field-disclaimer{
  font-size: 0.625rem;
  color: gray;
}
.title-sheet-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sheet-link-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pick-color-container{
  width: 15%;
  margin-top: -1.125rem !important;
  .pick-color-title{
    font-size: 0.625rem;
    color: grey;
  }
  .pick-color-textbox{
    height: 1.875rem;
    margin-top: 0.25rem;
  }
}
.button-container{
  width: 100%; 
  justify-content: space-between; 
  display: flex;
}
.compare-button {
  border-radius: 0.5rem !important
}
.add-button{
  border: 0.063rem solid rgb(196, 196, 196);
  color: grey;
  border-radius: 0.5rem !important;
}