name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci --legacy-peer-deps
      - run: npm run build
      - name: ASCT+B API Tests
        run: |
          npm ci --legacy-peer-deps
          npm run lint
        working-directory: asctb-api
      - name: Setup GitHub Pages files
        run: |
          cp dist/asctb-reporter/index.html dist/asctb-reporter/404.html
          touch dist/asctb-reporter/.nojekyll
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/asctb-reporter
          commit_message: 'Production deploy -- ${{ github.event.head_commit.message }}'
